<% provide(:title, 'Provision devices') %>
<div id='name'><%= @curr_name %></div>
<div class='container'>
  <div class='row' id='refresh'>
    <button class='btn btn-primary' id='updateContracts'>Refresh contracts from Gorges</button>
    <p id='wait'></p>
  </div>
  <div class='row' id='provisionTarget'></div>
</div>